.emptyErrorWrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &__descrption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}